{{- /*gotype: github.com/rh-ecosystem-edge/gitstream/internal/github.IssueData*/ -}}
{{ .AppName }} tried to cherry-pick commit `{{ .Commit.SHA }}` from `{{ .UpstreamURL }}` but was unable to do so.

Commit message:
```
{{ .Commit.Message }}
```

Please cherry-pick the commit manually.

---

**Error**:
```
{{ .Error.Error }}
```

{{- with $pe := .ProcessError }}
---

**Command**: `{{ $pe.Command }}`

<details><summary>Output</summary>

```
{{ $pe.CombinedString }}
```

</details>
{{- end }}


---

{{ .Markup }}: {{ .Commit.SHA }}