{{- /*gotype: github.com/qbarrand/gitstream/internal/github.PRData*/ -}}
This is an automated cherry-pick by {{ .AppName }} of `{{ .Commit.SHA }}` from `{{ .UpstreamURL }}`.

---

{{ .Markup }}: {{ .Commit.SHA }}